
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
}
.image{
	display: inline;
	vertical-align: top;

}

.heading{
	display: inline-block;
	color: darkblue;
	text-shadow: -2px 0px 1px RGBA(0, 0, 0, 0.3);
	font-weight: 500;
	margin-left: 30px;
}


.right-section{

}

.list{
	list-style: none;
	display: flex;
	width: auto;
}
/*a{
	text-decoration-line: none;
	padding:15px;
	font-size: 15px;
	text-align: center;

}*/

/*.ye:hover{
	color: #FFB813;
}
*/
/*.home{
	background-color: #FFB813;
	color: black;
}*/

.icon{
	width: 20px;
	padding: 16px;
	border-radius: 100px;
	display: inline;
	background-color: gray;
}
/*h2{
	display: inline;
	vertical-align: top;
	margin-left: 18px;
}*/
.info{
	display: block;
	margin-top: 0px;
	margin-left: 72px;
}
.left{
	/*float: left;*/
	padding: 15px;
	display: flex;
	align-items: flex-start;
}
.center{
	float: left;
	padding: 15px;
}
.right{
	float: left;
	padding: 15px;
}




.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container .heading h1{
	margin: 0;
}
.container .logo{
	display: flex;
    align-items: center;
}
.header{
	padding: 9px 2px 16px;
}

.middle .box{
	/*width: 450px;*/
}

.middle{
	display: flex;
	background-color: #FFB813;
}

.right-section li{
	padding:  16px;
}
.right-section a{
	text-decoration: none;
	transition: .7s;
}
.right-section li:hover a{
	color: #FFB813 ;
}

.right-section .active{
	color: #000000;
    background-color: #FFB813;
}

.middle i{
	font-size: 34px;
	color: white;
	background-color: black;
	border-radius: 30px;
	padding: 13px 14px;
}

.middle i:hover{
	color: #FFB813;
	transition: 0.5s;
}

.middle h2{
	color: white;
	font-size: 30px;
	font-weight: 600;

}

.middle p{
	font-size: 16px;
}
.middle h2,p{
	margin-left: 12px;
	font-family: 'Roboto Condensed', sans-serif;
}

.middle button{
	color: white;
	background-color: black;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	transition: 0.5s;
}

.middle button:hover{
	border-color: white;
	background-color: #FFB813;
	transition: 0.5s;
} 

.contact {
	display: flex;
	background-color: #2C2C2C;;
	align-items: top;
	justify-content: space-between;
	padding: 0px 10px 0 10px;
	box-shadow: 0px 5px 12px #171717;

}	

.list2{
	list-style: none;
}
.contact h3{
	color: white;
	font-size: 28px;
	margin-bottom: 10px;
	font-weight: 400;
}

.contact a{
	text-decoration: none;
	color: #E9E9E9;
}

.contact li{

	margin-bottom: 5px;
}

.contact b{
	font-weight: bold;
	color: white;
}
.list3 {
	display: flex;
	list-style: none;
}

.list3 a{
	color: #000;
    height: 40px;
    position: relative;
    text-align: center;
    transition: 0.5s;
    width: 40px;
    margin-left:15px ;
    background-color: #FFB813;
    border-radius: 50%;
    /*padding: 10px;*/
    display: inline-block;
    line-height: 40px;
}

.list3 a:hover{

	color: white;
}

.background{

	z-index: 1000;
}

.tabs{
	z-index: 1100;
	display: flex;
}